<%= form_for @venue do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@venue.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <ul>
    <%= f.fields_for :rooms do |rooms_form| %>
      <%= render 'rooms/form', f: rooms_form %>
    <% end %>
  </ul>

  <p>
    <%= f.submit %>
  </p>
<% end %>
