<h1>All Venues</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @venues.each do |venue| %>
    <tr>
      <td><%= venue.name %></td>
      <td><%= link_to 'Rooms and Performances', venue_path(venue) %></td>
      <td><%= link_to 'Edit Venue', edit_venue_path(venue) %></td>
      <td><%= link_to 'Delete Venue', venue_path(venue), method: :delete, data: {confirm: 'Are you sure you want to delete this Venue?' } %> </td>
    </tr>
  <% end %>


<%= link_to 'New Venue', new_venue_path %>
