
<tr>
  <td><b><u><%= show.artist %></u></b></td>
  <td><b><%= show.title %></b></td>
  <td><%= link_to 'Edit Show', edit_show_path(show)%><br>
      <%= link_to 'New Performance', new_show_performance_path(show)%></td>
  <td><%= link_to 'Delete', [show],
    method: :delete,
    data: {confirm: "Are you sure you want to delete this show and all it's  performances?"}%></td>

</tr>
<tr><%= render show.performances %></tr>
